[2017-11-30 06:35] kab3lle opened #1 "Unable to upload torrents"
Hello, Please tell me this is still be developed?

My issues is I get this message when trying to upload a .torrent

"There seems to be an error moving your file."

Probably a permission problem?

I'm stuck and don't know what to do. Thanks

[2017-11-30 13:37] KevinJDurant commented on #1
Hi @kab3lle

I'm not currently working on it but I think it's because you don't have a torrents folder in your root directory (code is very sloppy). Could you try and make a "torrents" folder in the same folder where the css, plugins, fonts... folder is?

If it still doesn't work then please provide a screenshot of your folder structure.

[2017-11-30 23:09] kab3lle commented on #1
Hey, I did try that.

(KevinJDurant: removed screenshot as it had you name in it)

[2017-12-01 11:33] KevinJDurant commented on #1
Hmm I'll take a look at it during the weekend, might fix some other stuff that I've been postponing forever. It might be an issue with the php document root variable (i'll change the paths to relative ones), also I've edited your comment as it contained some personal info.

Did you already set the permissions? I never really tried it on any distribution but some might require you to explicitly giv

[2017-12-03 10:38] kab3lle commented on #1
Hey thanks for removing the pic I did it in a rush.

Scratch that it was me I managed to get it to upload torrents and move torrent fine now.

[2017-12-03 10:51] kab3lle commented on #1
My new issue is after Ive uploaded a .torrent file and try to redownload the .torrent file it tries to redirect to itorrents is it possible to just download the source .torrent file directly?

[2017-12-04 22:38] KevinJDurant commented on #1
Hi,

Sorry I didn't really have time last weekend. Due to legal concerns and safety issues I decided not to save the .torrent files on the server, only to save the magnets in the database.

To remove the download button delete or comment these lines:

- https://github.com/KevinJDurant/OpenTorrentSite/blob/a142dc4a460b46af0d67a4089bed36c60d3591f8/en/view/torrent.php#L242
- https://github.com/KevinJ

[2017-12-07 03:53] kab3lle commented on #1
Hi Kevin,

Yea I'm no developer or anything so wouldn't know where to start with saving the .torrents locally.

[2018-01-14 14:56] ghosthosting opened #2 "Access denied for user"
PHP Warning:  mysqli::mysqli(): (28000/1045): Access denied for user '-----'@'localhost' (using password: YES) in /home/theghost/public_html/php/libs/database.php on line 16

[2018-01-14 15:03] KevinJDurant commented on #2
Hi

Are you sure you entered the right credentials in config/config.ini.php?
Does the user you've provided for the server have enough permissions on the database?

[2018-01-14 15:06] KevinJDurant opened #3 "Features to add"
Might start working on this in february.

1. Store torrents on site.
2. Add Big Buck Bunny legal torrent example.
3. Torrent per category overview.
4. Better popular torrents function, avoid empty page.

[2018-01-15 23:10] lninjo123 commented on #2
I have the same issue do I have to uncomment the user credentials?

[2018-01-16 13:51] ghosthosting commented on #2
![import all -sql](https://user-images.githubusercontent.com/35425736/34992276-996b7e00-faf2-11e7-9b8f-aa1f4d622212.PNG)
Hello  Kevin
![config](https://user-images.githubusercontent.com/35425736/34992203-5c24f2b0-faf2-11e7-9cc7-b6073298abfb.PNG)
![privilleges](https://user-images.githubusercontent.com/35425736/34992269-93f65d32-faf2-11e7-9a1e-8e78a2d045d1.PNG)

i entered the right credentials in c

[2018-01-16 14:00] ghosthosting commented on #2
i'm not using ftp connection

do you think that was the problem.

and is there a way i can install this them on  WordPress?

also
Thanks for your hard work it is much appreciated

[2018-01-16 14:05] ghosthosting commented on #2
![dad-you-are-the-king](https://user-images.githubusercontent.com/35425736/34992799-547290fc-faf4-11e7-9329-06446db00a67.png)

[2018-01-16 19:57] lninjo123 commented on #2
thank you for the info i really apprecitate your time to explain

On Tue, Jan 16, 2018 at 6:05 AM, ghosthosting <notifications@github.com>
wrote:

[2018-01-17 15:23] KevinJDurant commented on #2
@lninjo123 Don't uncomment the credentials, it's commented for security reasons, it still gets picked up by the code.

@ghosthosting I've never tried wordpress so I can't help. Do you still have that connection issue? I think your dbname should be 'theghost_newzaz', your username 'theghost_root' and then your password.

Sorry for the late responses guys, I'm very busy IRL atm.

[2018-01-20 16:19] ghosthosting commented on #2
Thanks Kevin everything works fine now.

i FINALLY UPLOAD MY FIRST TORRENT.

ONLY problem that i face now .

information about
Seeds, Leech,Download

not working.

sorry to trouble you again.

[2018-01-20 17:28] KevinJDurant commented on #2
@ghosthosting

The reason you might not get any seeders/leechers statistics is because your hosting doesn't support/allow UDP requests, only HTTP requests.

Are you hosting it yourself or using a payed service?

More info on this issue: https://github.com/medariox/Scrapeer/issues/12

[2018-01-21 16:20] ghosthosting commented on #2
Hi
Kevin

for hosting
i'm using a payed service.

Thanks for your support .

[2018-01-21 18:23] KevinJDurant commented on #2
@ghosthosting

You will need to talk to your hosting provider and ask them if they can allow the UDP protocol. Some hosting providers require you to buy a static IP or a VPS service.

There is nothing I can do codewise to prevent this.

[2018-01-23 15:16] ghosthosting commented on #2
understood  Kevin.

Thank You very much for your support.

[2018-01-23 15:17] #2 closed, assigned to nobody

[2019-02-19 11:51] AzukaChan opened #4 "Information not saving to database?"
Hi there,

After uploading this template to a hosting service, I am able to login to accounts that have already been made/inserted in to the database, however when making a new account, it appears as if the account creation was successful, the new user appears to be logged in, however no information is saved to the database.

I've double checked my config settings (within the template) as well as

[2019-02-19 17:03] AzukaChan commented on #4
Figured it out;

For anyone having a similar issue to as described above; login to your phpmyadmin and navigate to your torrent database, select the users table and then select "structure" from the navigation bar at the top of the screen. From here you will need to set the default value of "uploaderstatus" to 0 instead of NULL.

[2019-02-19 17:03] #4 closed, assigned to nobody

[2019-02-22 12:11] AzukaChan commented on #1
Not having things saved locally is a good idea. I think its best to just stick with magnet links.

[2019-02-23 06:40] AzukaChan opened #5 "Seeds/Peers dont update"
After the initial scrape of information from the torrent upload, seeds/peers are not updated.
The torrent will stay at the same amount of seeds/peers it had when the torrent was uploaded.

[2019-03-31 19:42] theallegrarr opened #6 "Torrents Not Uploading"
After uploading the torrent, it does not show up in list
but when i try to upload same torrent again
it says; "Sorry your file is already in use by another process, please try again later."

[2019-04-18 13:54] AzukaChan commented on #6
1) Make sure you have set the appropriate file permissions on your web server.

2) Add a "torrents" folder to the root of your site.

3) If you want to be really thorough you can go into MySQL phpmyadmin and delete the torrent manually from the database, this should stop the issue from happening.

PS: I have a forked version of this torrent template that's a bit more up-to-date since the original

[2019-04-22 17:35] caetaniho commented on #5
in my case everything is in 0 nothing appears even the torrent having Seeds / Peers stays at 0.
How do I fix this?

[2019-04-22 18:35] KevinJDurant commented on #5
@caetaniho The reason you might not get any seeders/leechers statistics is because your hosting doesn't support/allow UDP requests, only HTTP requests. There aren't many torrents that still use HTTP Trackers. You need to talk to your hosting provider and ask if they can allow it.

Regarding @AzukaChan, you could always add a button where users can forcibly update the seeds and peers data. Much lik

[2019-04-22 18:38] #1 closed, assigned to KevinJDurant

[2019-04-24 16:33] AzukaChan commented on #5
@KevinJDurant Thanks for your reply. I didn't think you'd ever come back and reply to the messages that are being left. The button is a good idea, my original plan was to have torrents re-scraped once a user clicks on the torrent page (on a timer if possible?) just to avoid people forgetting to click the button. I feel like that would keep things more up-to-date, but it might cause more server usa

[2019-04-24 17:47] KevinJDurant commented on #5
@AzukaChan

that idea would be fine if you're a low traffic torrent site. Just not when there's a very popular one. You don't want your IP to get blacklisted for abuse. It's up to you ofcourse. Timer would be possible, I would make an API endpoint and do an AJAX call when a user has been on the page for 1-2 minutes.

Regarding your question if I ever would come back to work on this project... I fe

[2019-04-24 18:03] AzukaChan commented on #5
@KevinJDurant
Thanks for your quick reply. Sad to hear you won't be coming back to work on the project, however I'm sure the few of us that use your template will manage to edit things as we see fit.

Im currently in the process of making a delete button on the my-torrents.php so users are able to delete their torrents as well as fixing the seed/peer data not updating with either a timer or refres

[2019-04-26 17:00] caetaniho commented on #5
@AzukaChan @KevinJDurant I want to know how I make the button for the users to update the seed / peers, I'm new with php I'm learning a program if they can help me

[2019-04-27 02:15] AzukaChan commented on #5
@caetaniho Everyone that uses this template wants the button however; there are very few people working on this template. As I previously mentioned in another thread I'm in the process of making the "update seeds/peers" button as well as a "delete torrent" button for users to remove torrents.

Once I've finished making them, they'll be available at [this fork](https://github.com/AzukaChan/OpenTorr

[2019-05-04 12:18] KevinJDurant commented on #5
@AzukaChan I am not sure if you fixed this in your pull request?

[2019-05-04 12:19] #6 closed, assigned to nobody

[2019-05-04 15:36] AzukaChan commented on #5
@caetaniho
The "delete torrent" feature has now been pulled from my fork to Kevins. So if you redownload the template from either one of us you will have a working delete button in your "My Torrents" section of the website.

As for the refresh button, I'm currently working on it and it should be ready in a few days.. I'm having trouble finding where to pull the trackers from for each torrent. If I

[2019-05-12 07:59] #3 closed, assigned to KevinJDurant

[2019-05-14 12:21] AzukaChan commented on #5
@KevinJDurant
What would be the best way to get this "refresh seeders/leechers" button working on a timer? I notice BitTorrent refreshes trackers every 30 minutes on average, so maybe set the timer to allow the button to be pressed every hour just to be safe?

[2019-05-18 12:57] KevinJDurant commented on #5
I wouldn't really go to that length, especially for this template. I would just have the button to update the statistics immediately. I'm setting up my new development enviroment so I'll be able to push some changes.

In any case, there is always a JavaScript solution that can be applied. We can save timestamps in the browser their localstorage.

[2019-07-04 06:07] AzukaChan commented on #5
Alright gimme your paypal; how much do I gotta pay you to fix this one up for me, @KevinJDurant ? <3

[2019-07-04 06:13] KevinJDurant commented on #5
If only you could buy me time 😄; alright alright, I'll try and take a look at it this evening.

[2019-07-04 18:50] KevinJDurant commented on #5
@AzukaChan there you go, it's really basic and needs more security and limitations, but this is what I could make in my little available time. Maybe you could fine tune it a bit?

[2019-07-05 00:11] AzukaChan commented on #5
Thank you very much for helping out with the button @KevinJDurant , I had a quick look at it but sadly its not actually refreshing any data for me. I will have a look at it in the next few days to see if we can get button working once and for all :3

[2019-10-07 07:54] Milen4o opened #11 "There is a problem wit [] symbols"
There is a problem wit [] symbols. Just don't upload the torrent. It will be nice if you add Backend to see the traffic, the user and torrent revision to be aproved because may be a virus for the people.

[2019-10-07 08:57] KevinJDurant commented on #11
Hi @Milen4o , can you give me more details where this causes problems? In the .torrent filename? Or in the torrent title name?

I'm not really planning on adding more content to this very old project. But I might later on if I find the time for it.

[2019-10-07 11:46] AzukaChan commented on #11
Hi @Milen4o , there any many torrent files with '[ ]' symbols in their names. I don't think blocking torrents with that in their name is going to help with people attempting to upload viruses. At some point I might get around to adding a simple report button which alerts admins/mods or something.

For now set trusted users uploadstatus to 2 or 3 to let people know they are safe to download from.

[2019-10-07 11:50] AzukaChan commented on #5
This has been fixed in the latest PR.

[2019-10-07 11:50] #5 closed, assigned to nobody

[2019-10-07 12:06] Milen4o commented on #11
There`s no detail. Just refresh the page whitout notification torrent uploaded and it's no registered in the database. If i try to upload it again say this torrent archive is used by another process. I need to check later why.

[2019-10-07 12:52] AzukaChan commented on #11
@Milen4o Testing using my live site I don't seem to have any issue uploading torrents with '[ ]' in the file name or title.

A few things to check:

1) Make sure you have set the appropriate file permissions on your web server.
2) Add a "torrents" folder to the root of your site.
3) Login to MySQL phpmyadmin and delete the torrent manually from the database, this should stop the "used by another p

[2019-10-07 13:23] Milen4o commented on #11
Seems to work now whitout changin nothing on a hosting server. but i found another issue with the characters like ñ Ñ ó, etc but this is jus add the codificación in the code.

[2019-10-19 10:03] Milen4o opened #14 "Small Update"
I did an small update on that adding an Admin user and contro panel who is showing if you are admin.
There is an little information on it like: total torrents upload.
If you are normal user you will se total torrents upload from you.
User data.
And if you are admin you will see total users registered.
![admin update](https://user-images.githubusercontent.com/21200268/67143134-7c73df80-f268-11e9-87

[2019-10-21 07:15] AzukaChan commented on #14
You should try pulling from [my fork](https://github.com/AzukaChan/OpenTorrentSite) until Kevin merges it into the master branch. Here's an example of what the admin/user control panel looks like:

http://i.imgur.com/jXDEeEv.png
https://i.ibb.co/hZxNpsh/user.png

What you're describing has already been setup and is (for the most part) working.
You can test it here: https://github.com/AzukaChan/Ope

[2019-10-21 20:53] Milen4o commented on #14
Did you did any changes in the DB to log in as ADMIN ¿?

[2019-10-21 21:21] Milen4o commented on #14
Ahh okay i see you did it on another way counting the uploaderstatus 99 like ADMIN. I added admin in the database counting from 0 to 1. 0 for a normal user and 1 for an admin.

[2019-10-22 02:42] AzukaChan commented on #14
I didn't really see the need to edit the database when there is already a value for users uploaderstatus.

Admin = 99
VIP = 3
Trusted = 2
Normal User = 1
Banned = -1

[2019-10-22 06:51] Milen4o commented on #14
I didn't think that it can be used for admin. I was thinking for normal user, super user (Vip) but yeah same think can be don in diferent ways.

[2019-10-22 06:52] Milen4o commented on #14
What diference will have the vip from the normal user ¿?

[2019-10-22 08:58] AzukaChan commented on #14
**Trusted/VIP user icons**
Changing a users uploaderstatus to 2 (trusted) or 3 (vip) will place a "trusted user" icon next to the uploader name on torrents.php indicating the user/torrent is trusted and safe to download.
![Capture](https://user-images.githubusercontent.com/42724187/67271486-f375d600-f4fd-11e9-8347-0e0cd3260f93.PNG)

[2019-10-22 09:21] Milen4o commented on #14
Nice idea. This can be used to indicate if the torrent is safe in the index.php by adding next to the icon depending on the status (trusted torrent or user upload).

[2019-10-22 09:47] Milen4o commented on #14
By adding that code after the line 171 index.php and afther that adding
{
  if($row["uploaderstatus"]==3)
  {echo '<img src="/css/vip.png" alt="VIP User">'; }
else
  if($row["uploaderstatus"]==2)
  {echo '<img src="/css/trusted.png" alt="Trusted User">'; }
}
you can easy show it on the first page.

[2019-10-23 03:28] AzukaChan commented on #14
![index](https://user-images.githubusercontent.com/42724187/67354589-d4785200-f598-11e9-8726-0e304dfb4066.PNG)

This feature has now been added in the latest update. Try cloning the repo again to see whats new.
This issue can now be closed.

[2019-10-23 07:23] #14 closed, assigned to nobody

[2019-10-23 08:13] Milen4o commented on #14
I am planing to add update user account information like username, email and password in case someone need it like me. Now i wanna change my username. I can go to the database but yeah no one have the knowledge and access to it.

[2019-10-27 14:32] KevinJDurant commented on #11
You could always add your Google Analytics snippet and view the stats in the GA Dashboard instead of custom coding it for this project.

It sounds like you have fixed this issue. Please open a new issue when you have other questions.

[2019-10-27 14:32] #11 closed, assigned to nobody

[2019-12-22 08:38] kirgizmustafa17 opened #15 "Wrong username or password"
Hi, I deployed a Lamp Server in  **Google Cloud: Cloud Computing Services** and I did everything you wrote under **Setup**. But I can not create a new user with register page or phpmyadmin.  Actually, I created a new user in site register page but I can not upload any torrent and this created user is not showing up in phpmyadmin and if I logout and later try to login, I can not logging in. Error m

[2020-01-01 02:18] AzukaChan commented on #15
Trying to manually enter a username and password in to the database won't work, you will need to make an account through the registration page.

Login to your phpmyadmin and navigate to your torrent database, select the users table and then select "structure" from the navigation bar at the top of the screen. From here you will need to set the default value of "uploaderstatus" to 0 instead of NULL

[2020-02-17 15:01] cullen-carstens opened #17 "Permission Errors Deluxe"
Good day, I don't know if I'm the only one.

I have scoured the internet for advice to no avail.
I can't seem to figure out what's bugging out...

**Running on a Xampp Server [WIN 10]**

- I have:
- [ ] imported the .sql files to a DB named "torrentz" in PHPMyAdmin
- [ ] created a MySQL user and given it full priveledges on database "torrentz"
- [ ] added all the required credentials in **/config/

[2020-02-17 15:57] cullen-carstens commented on #17
wow, I feel so stupid, changed php version to 5.5...

It seems to working now...

Touch wood 💯

[2020-02-18 06:29] AzukaChan commented on #17
Yeah that would do it; I think depending on your PHP version some of the files "go missing" since it doesnt read the directory properly. Feel free to pull from my branch while Kevin refactors the voting system that I have added.

Keep in mind that some torrents may show 0 seeds/leechers if your ISP is blocking UDP requests. ubuntu has an official .torrent alternate download link with HTTP seeders

[2020-02-18 07:58] cullen-carstens commented on #17
So I went onto change-user-status.php and I get a 403 Forbidden

![change-user-status php](https://user-images.githubusercontent.com/61153377/74715326-cc86a100-525e-11ea-9cef-a814c778973c.PNG)

But funny enough, when you look at the URL in the snap above you will see, it says I'm a basic user. In the users database my uploaderstatus is 99.

[2020-02-18 08:15] AzukaChan commented on #17
You haven't set the correct file permissions on your server.
Try changing your file permissions to '644' and your directories to '755'

[2020-02-18 09:30] cullen-carstens commented on #17
OK, I've checked every single file and directory permission all files are '644' and all folders are '755'.

Could I ask you to have a look?

[2020-02-18 09:59] AzukaChan commented on #17
@torrentz-interserve Are you using a shared hosting service? This could possibly be a temporary issue with your hosting provider. Additionally just for the sake of it you might want to check the database structure for the 'users' table and make sure that 'uploaderstatus' is set to 0 by default instead of NULL.

[2020-02-18 10:21] cullen-carstens commented on #17
This is what happens when I try to make your AzukaChan account VIP status.

[2020-02-18 10:21] cullen-carstens commented on #17
![make-azuka-vip](https://user-images.githubusercontent.com/61153377/74727028-1083a100-5273-11ea-87d5-81b147c96303.PNG)

[2020-02-18 10:27] AzukaChan commented on #17
@torrentz-interserve Just repulled from the master branch to test on the live demo and it seems to work fine for me, this must be caused by something you've changed while editing the template. Perhaps try loading the default template to see if it works then?

Also just to be sure, are you using git pull?

[2020-02-18 10:43] cullen-carstens commented on #17
I just extracted a fresh copy and added my database creds and still the same problem.

[2020-02-18 10:45] cullen-carstens commented on #17
![image](https://user-images.githubusercontent.com/61153377/74729069-732a6c00-5276-11ea-8afe-bcb71e8cd415.png)

[2020-02-18 11:10] AzukaChan commented on #17
You still have insufficient privileges? [Try pulling from this repo](https://github.com/AzukaChan/OpenTorrentSite)

[2020-02-18 12:01] cullen-carstens commented on #17
Same story... I honestly don't know whats up...

Can I give you my login details somehow, and you can have a look?

[2020-02-18 16:11] AzukaChan commented on #15
@kirgizmustafa17 Did this fix your issue?

[2020-02-19 04:28] cullen-carstens commented on #17
Can I give you my login details somehow, and you can have a look?

[2020-02-19 08:18] cullen-carstens commented on #17
Okay, I fixed that, but now it's printing the success message in the URL bar of browser.

Here's the file..

`<?php
    include_once "../php/libs/database.php";
    include_once "../php/libs/UserHelper.php";

    date_default_timezone_set('Europe/Brussels');

    $db = new Db();

    if (!isset($_SESSION)) {
        session_start();
    }

    $message = 'Account Status Changed: ' . UserHelper::tr

[2020-02-21 02:40] AzukaChan commented on #17
Have you been able to fix this issue?
If so, what was the issue?

[2020-03-13 10:01] iA-blip opened #18 "Torrents won't show up."
When I add a new torrent, it wont show up in the search or in the categories. What do you think what's the problem?

[2020-03-22 12:55] AzukaChan commented on #18
Heres a few things to try:
1) Try setting your PHP version (in cPanel) to 7.0+
2) Make sure all files and directories have the appropriate permissions set.
3) Look for any error log files and see if you can find the issue.

[2020-03-30 10:12] AzukaChan commented on #18
Did this help with your issue?

[2020-03-30 12:18] iA-blip commented on #18
Sorry for not responding, I have PHP version on 7.3. All files and directories (I think atleast) have appropiate permissions. I am using infinityfree to host the website. If you want to take a look, here: http://jsfileshare.rf.gd

[2020-06-08 19:45] protocolprowler commented on #15
@AzukaChan Yes, this fixes the issue with new registrations not being saved to mySQL. Thank you.
Updated user.sql script attached.
[users.zip](https://github.com/KevinJDurant/OpenTorrentSite/files/4768021/users.zip)

[2020-06-09 05:28] AzukaChan commented on #15
@bshuman Glad it worked for you.

@KevinJDurant this could probably be closed.

[2020-07-04 00:12] dkbame opened #19 "Still in development?"
Hello is this still in development? I have a few things to ask/request?

[2020-07-10 16:15] AzukaChan commented on #19
@dkbame Not exactly being worked on everyday; but if something is broken i'll fix it.
What seems to be the problem?

[2020-07-29 10:06] #15 closed, assigned to nobody

[2020-07-29 10:08] AzukaChan commented on #17
@torrentz-interserve
OpenTorrentSite has recently been updated; try pulling this repo again and see if you still have these issues.

[2020-08-07 18:15] AzukaChan commented on #18
Seems like your website is down. Feel free to open up another ticket if this problem persists on a different hosting provider.

[2020-08-07 18:15] #18 closed, assigned to nobody

[2020-08-07 18:16] #17 closed, assigned to nobody

[2020-08-16 00:11] caetaniho opened #23 "the user does not appear in the database"
![user](https://user-images.githubusercontent.com/49878017/90323725-3bedfc80-df33-11ea-8c3e-77a8fa28bf7a.png)
when I register nothing appears in the phpmyadmin database "I'm using ubuntu server 18.04"

[2020-08-26 17:47] AzukaChan commented on #23
@caetaniho

Login to your phpmyadmin and navigate to your torrent database, select the users table and then select "structure" from the navigation bar at the top of the screen. From here you will need to set the default value of "uploaderstatus" to 0 instead of NULL which will most likely fix your issue.

You should also be using the "opentorrentsite.sql" file to install the database for now as th

[2020-08-26 21:30] caetaniho commented on #23
I managed to solve the problem, it was in MYSQL I uninstalled it and installed MariaDB and it worked perfectly.

"a dirt on the torrent.php page could have a comment system, it would be a good"

[2020-08-27 17:11] AzukaChan commented on #23
@caetaniho If you reinstalled the database using 'OpenTorrentSite.sql' that was likely what actually fixed your issue and not MariaDB, either way I'm glad it worked for you.

Yes a comment system would be nice and I do plan on adding one eventually, but I'm in no rush.
Feel free to create a fork and make one for yourself :3 maybe you could contribute to the project.

[2020-10-18 16:08] AzukaChan commented on #23
@caetaniho comment system has been added, try re-pulling to check it out.

[2020-10-18 16:08] #23 closed, assigned to nobody

[2020-10-22 16:08] ghost opened #24 "Id for administrator"
What is the ID for administratorer and can you make a seed leech so of X user just download and not uploading its stops the torrents ?

[2020-10-22 16:15] AzukaChan commented on #24
@hbs2 Set your `uploaderstatus` to `99` in the database for administrator privilege's.
I'm not really too sure what you mean by your second question.

[2020-10-22 21:42] ghost commented on #24
thanks can you make so invites are going to work ?

[2020-10-23 12:22] ghost commented on #24
and the other things you dont understand that was if you can make a radio measured so if one user doenloads and not uploading the users downloads stops ? :)

[2020-10-23 14:55] AzukaChan commented on #24
I have no plans on implementing an "Invitation System" at this time; I did think about having user registration easily opened/closed from the Admin Control Panel, but I never got around to it.

To answer your second question, that seems like it would be a pretty difficult (or impossible) task without also having your own private tracker; which OpenTorrentSite does not supply. You could implement s

[2020-10-24 15:34] ghost commented on #24
thats sad a (invitation system) coud be nice :)

i will try to inplement it :)

[2020-10-25 06:28] AzukaChan commented on #24
@hbs2 Star this repo and keep up to date on future commits; you never know what might get added.
Feel free to open up another ticket if there is an issue.

[2020-10-25 06:28] #24 closed, assigned to nobody

[2020-10-25 06:30] AzukaChan commented on #19
@dkbame Hopefully my previous answer successfully answers your question. Please open up another ticket if you have any other questions / issues.

[2020-10-25 06:30] #19 closed

[2020-11-03 00:03] alwisiax opened #25 "Oops! 404 Not Found"
Hello All

I hope that you're in good condition, I am interested in your repository opentorrentsite in GitHub.
I want to deploy it in my domain and develop it (like adding chat, donate, badges for users, torrent display photo, etc. ..), but before that I want to see it operational, I deployed it on my webserver (online) but when i try to upload a torrent, a message push up:
Oops!
404 Not Found

an

[2020-11-03 00:04] alwisiax opened #26 "404 Not Found"
Hello All

I hope that you're in good condition, I am interested in your repository opentorrentsite.
I want to deploy it in my domain and develop it (like adding chat, donate, badges for users, torrent display photo, etc. ..), but before that I want to see it operational, I deployed it on my webserver (online) but when i try to upload a torrent, a message push up:
Oops! 404 Not Found
and I am real

[2020-11-03 00:31] AzukaChan commented on #26
Hi @alwisiax

Firstly,
1. Users already have badges.
(unless your talking about some kind of achievement system? In which case no)

2. You can add a display photo to torrents by uploading an image in to your comment when uploading a torrent.

3. There is already a comment system, not too sure why you'd want a live chat on a torrent site.

In regards to your 404 problem,
1. It seems you may have mi

[2020-11-03 00:33] AzukaChan commented on #25
Hi @alwisiax

Firstly,
1. Users already have badges.
(unless your talking about some kind of achievement system? In which case no)

2. You can add a display photo to torrents by uploading an image in to your comment when uploading a torrent.

3. There is already a comment system, not too sure why you'd want a live chat on a torrent site.

In regards to your 404 problem,
1. It seems you may have mi

[2020-11-03 01:35] #25 closed, assigned to nobody

[2020-11-03 01:35] AzukaChan commented on #26
Let me know if any of these things worked for you @alwisiax

[2020-11-04 02:44] alwisiax commented on #26
Hello AzukaChan, I did all but problem still, the problem is here
header("Location: ../view/torrent.php?hash=".$hash[0]."&id=".$userid);
in upload.php
client browser send error that it cant find this page with this customized header.
I tried to enable rewrite module in apache also, but problem still.
have you any explanation?
-Thanks.

[2020-11-04 09:37] AzukaChan commented on #26
When do you receive this error? When trying to upload a torrent?

Did you drop all of your database tables and reinstall using "OpenTorrentSite.sql" ?

[2020-11-04 13:57] alwisiax commented on #26
Yes I dropped old tables and reimport using main sql file, I traced code for ex: I wrote exit; before this line and found the torrent uploaded successfully to /torrents folder but the torrent informations not added to database (torrent table).

[2020-11-04 16:01] AzukaChan commented on #26
Are you using XAMPP to test or a live webspace?

[2020-11-04 18:08] alwisiax commented on #26
I test on live web space, I have a dedicated   server (not shared) with Ubuntu 18.04 OS (I installed) with all prerequisites.

[2020-11-05 09:40] alwisiax commented on #26
I noted that when I removed if(count(torrent) == 0)
torrent.php is opened but without data! So I think the issue in insert statement in upload.php

![image](https://user-images.githubusercontent.com/73487018/98224153-cd31a580-1f5b-11eb-9f55-c70b0c308644.jpeg)

[2020-11-05 09:44] AzukaChan commented on #26
@alwisiax
I have re-pulled this repo and reinstalled OpenTorrentSite on my own live webspace and it seems to be working for me. I am able to register an account, upload torrents, access admin control panel, etc... My server is Windows/cPanel based so I have never tested on an Ubuntu server. Can't imagine why that would make any difference though.

If you could provide a picture, that would be help

[2020-11-05 13:18] AzukaChan commented on #26
@alwisiax
Please re-pull the repo and install a fresh copy of OpenTorrentSite on your webspace.

It is possible to receive a "404 error! Oops!" when your server has a high latency and is having trouble processing the upload. If you notice you're receiving 404 errors, try waiting a few hours and upload the torrent again..

[2020-11-05 20:35] alwisiax commented on #26
Finally I get results, I added insert public function to the database.php then I call it from the db object by sending the query as parameter:
![image](https://user-images.githubusercontent.com/73487018/98293521-224ed500-1fb7-11eb-932a-62a2cfa5468a.jpeg)

[2020-11-05 20:38] alwisiax commented on #26
Finally I get results, I added insert public function to the database.php then I call it from the db object by sending the query as parameter:
![image](https://user-images.githubusercontent.com/73487018/98293703-7063d880-1fb7-11eb-909e-22f449329075.jpeg)

[2020-11-06 04:14] AzukaChan commented on #26
@alwisiax Not sure why adding this would help, but I'm glad it does.
Unless there is a difference between Ubuntu and Windows server I can't see why the code from this repo won't work for you.

[2020-11-06 04:52] AzukaChan commented on #26
@alwisiax When you upload a torrent, is your seed/peer data scraping successfully?

[2020-11-06 16:13] alwisiax commented on #26
Yes, I downloaded the torrent content successfully from another peer but the new seeder not added (not counted) to the torrent stats may be because I tested from one network(same global IP address).

[2020-11-07 00:01] alwisiax opened #27 "Torrent Contents Problem"
Torrent file can contains only files not folders, if it contains a folder then it will be not be readable as object inside the upload function.

[2020-11-07 00:07] alwisiax opened #28 "Case Sensitive Search !"
if you have stored a torrent with a name like "Real Madrid" and you want to search the database for a torrent with that name you will type "real madrid" in search bar, unfortunately nothing will appear in the search result. you should type "Real Madrid" to get that torrent. searching should be not case sesitive.

[2020-11-07 00:13] alwisiax opened #29 "Seeders refresh button disappeared automatically"
refresh button disappeared after one click or two, I don't know why?

[2020-11-07 06:52] AzukaChan commented on #29
@alwisiax
This is to prevent people from spamming the refresh button and having your IP address blacklisted from trackers and will reappear in 24 hours after being refreshed. This is a feature, not a bug.

[2020-11-07 06:55] AzukaChan commented on #28
This seems to be an issue with your webspace. Testing on my server torrent searches are not case sensitive.
![nope](https://user-images.githubusercontent.com/42724187/98434268-fac44d80-2119-11eb-910d-4b377979d9b0.PNG)

If the problem still persists try add full text search to the `name` column in the `torrents` table using PhPmyAdmin and then added new torrents.

[2020-11-07 06:55] #28 closed, assigned to nobody

[2020-11-07 06:57] AzukaChan commented on #27
I believe this is due to the changes you've made within the source code. Testing on my live webspace; all files and folders within the uploaded torrent appear in the filelist on the right hand side.

![newfolder](https://user-images.githubusercontent.com/42724187/98434328-57c00380-211a-11eb-92e0-5364cb47b206.PNG)

[2020-11-07 06:57] #27 closed, assigned to nobody

[2020-11-07 17:44] AzukaChan commented on #29
After testing this for myself; it seems I somehow managed to break this while developing the comment section and the button does not reappear after 24 hours. I will reopen this issue for now until I have fixed the "refresh button".

[2020-11-07 20:00] alwisiax commented on #29
yes, but somehow it should be refreshed behind the scene, isn't it? without users intervention.

[2020-11-07 20:02] alwisiax commented on #27
I will check thank you.

[2020-11-07 20:05] alwisiax commented on #28
ok, another related issue: try to search using "test" word not "test torrent", is the result same?

[2020-11-07 22:41] alwisiax commented on #28
sorry, you are right, its my side problem, I modified the code when I was testing torrent upload, when I restore the code, it is fixed.

[2020-11-07 23:04] alwisiax opened #30 "Search for all torrent in a category!"
if I pressed search button without entering any text in search bar, it should fetch all torrents in that category.
for "anything" option, it should fetch all torrents in the site.

[2020-11-07 23:18] alwisiax opened #31 "Email Validation"
in registration process, if I entered ahmad@abcd.com, it will be accepted. it is better to validate
the domain name of mail server such as yahoo, Gmail, Hotmail, windows live, live, outlook, etc. ..
so users shouldn't enter their business email (its temporary valid only while they are in their job position), only personal emails are permitted.

other solution: **add update info page**.

[2020-11-08 00:13] alwisiax opened #32 "Traffic Capture"
is there a way to capture torrents traffic in the web site?
how could we add announce URL for uploaded torrents (php/upload.php), so if anyone
downloaded a torrent, then we can capture uploaded data from (seeder) to him (peer).
this measure is very important to show the amount of total traffic of the tracker in the main page.

[2020-11-08 00:52] AzukaChan commented on #29
You could easily make that change if you wanted to, but having a "refresh button" reduces server load for webspaces with a large amount of torrents in the database. Most people will hit the refresh button when its available to get the latest data anyways, you might as well save yourself some server usage.

By default this is not meant to be done "behind the scenes", having users manually refresh s

[2020-11-08 00:57] AzukaChan commented on #32
You do not need your own torrent tracker to have seed/peer data appear.
As long as the trackers within the torrent file you are trying to upload are working the seed/peer data will appear.

If your webspace is showing 0seeds/0peers, your host may be blocking UDP requests.
Try uploading a torrent with HTTPS trackers and see if you get a different result.

![data](https://user-images.githubuserconte

[2020-11-08 00:57] #32 closed, assigned to nobody

[2020-11-08 01:02] AzukaChan commented on #31
If users are silly enough to add their business emails to a torrent site; that seems like their problem.
I have no plans on adding email verification / invitation system at this time.

Eventually users will be able to change their email from the account control panel, however this has not been implemented yet.

[2020-11-08 01:02] #31 closed, assigned to nobody

[2020-11-08 01:05] AzukaChan commented on #30
There is already a category search which can be accessed by pressing on a category from the main page...
![software](https://user-images.githubusercontent.com/42724187/98454616-432f4a00-21b2-11eb-8540-5f8fa00f50bd.png)

by default there are 10 torrents per page in category view.

[2020-11-08 01:05] #30 closed, assigned to nobody

[2020-11-08 02:02] alwisiax commented on #29
(is not meant to be done "behind the scenes")
it can be added as an option in the configuration file, so administrator can enable/disable it depending on
his server specifications, if server can do that for me time by time why not? seed/leech count will be updated every time the torrent is downloading or finished (Seeding).

[2020-11-08 02:17] alwisiax commented on #32
![image](https://user-images.githubusercontent.com/73487018/98455440-4f4ae580-2179-11eb-8dd7-fa063c23bbaf.png)

[2020-11-08 03:39] AzukaChan commented on #29
Am an idiot; while I was testing I used the wrong Unix timestamp which prevent the button from reappearing.
This feature is working as expected.

[2020-11-08 03:39] #29 closed, assigned to nobody

[2020-11-08 07:57] AzukaChan commented on #26
I believe this issue has been resolved? Feel free to reopen another ticket if the issue persists.

[2020-11-08 07:57] #26 closed, assigned to nobody

[2020-11-12 15:19] AzukaChan opened #33 "Excessive Torrent Files May Result In 404 (Fixed)"
Only just noticed while doing my latest round of testing that when uploading torrents with upwards of 15+ trackers (number may vary, some have 100+) for whatever reason may result in a 404 error, while torrents with 5 or less trackers load perfectly including seed/peer data.

I plan on fixing this at some point, but thought I would open the issue for anyone else experiencing a similar issue.

[2020-11-12 20:11] alwisiax commented on #33
I didn't tested for this issue, but Try to open a range of UDP ports on server firewall and find a way to make them available for torrent protocol, I think this will make a difference! because the symptom is talking about (The number of trackers).

![image](https://user-images.githubusercontent.com/73487018/98991058-fb068380-2533-11eb-9a03-b769f6dc3196.png)

[2020-11-12 20:26] alwisiax commented on #33
Did you configured your testing on https or http?
if you use http then some of https tracker will reject sending seed/peer data because the communication with you is not encrypted and vise versa.

check this:
https://stackoverflow.com/questions/29726692/why-cant-torrent-traffic-be-encrypted

[2020-11-13 02:21] AzukaChan commented on #33
This is for all torrents with a large amount of trackers; UDP, HTTP and HTTPS.
It has nothing to do with encrypting torrent traffic.

Excessive trackers on a torrent may result in a `Oops! 404 Error!` when attempting to upload a torrent. DHT based scraping is not supported, so if your torrent has no trackers (check the end of magnet link for `&tr=`) you may notice your seed / peer data stays at 0.

[2020-11-30 10:02] AzukaChan commented on #33
@alwisiax This bug has been fixed! Try reinstalling OpenTorrentSite and uploading your torrents!

[2020-11-30 17:46] alwisiax commented on #33
Good job AzukaChan.

[2020-12-11 14:53] #33 closed, assigned to nobody

[2022-03-03 18:39] sora59 opened #35 "When I was trying to upload, it's showing error."
Fatal error: Uncaught mysqli_sql_exception: Unknown column '70434f546d98048d624bc35c074cb5d8' in 'where clause' in C:\xampp\htdocs\php\libs\database.php:38 Stack trace: #0 C:\xampp\htdocs\php\libs\database.php(38): mysqli->query('SELECT `user_id...') #1 C:\xampp\htdocs\php\libs\database.php(51): Db->query('SELECT `user_id...') #2 C:\xampp\htdocs\php\upload.php(120): Db->select('SELECT `user_id...'

[2022-03-04 05:13] AzukaChan commented on #35
Try following the setup instructions:
1. Copy & Paste all files to your webspace.
2. Set your webspace to PHP Version 7.0.
3. Create a folder called "torrents" in the root directory.
4. Setup a new MySQL database. For security purposes you should create a user with appropriate permissions.
5. Change the database credentials and website identification inside 'config/config.ini.php'.
6. Import "open

[2022-03-17 07:26] AzukaChan commented on #35
Has your issue been resolved?

[2022-03-30 02:59] #35 closed, assigned to nobody

[2022-06-04 19:02] bialy39 opened #36 "Missing themes."
Hello.
Unable to change theme:
OpenTorrentSite/css/themes/dark.css" failed (2: No such file or directory)

Regards.